<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.dao.AuthorDao">

	<resultMap type="com.sample.dao.Author" id="authorResult">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap>

	<resultMap type="com.sample.dao.Author" id="authorResultJoinBook">
		<!-- 今回はextendsしないで上をコピーする -->
		<result column="authorId" property="id"/>
		<result column="name" property="name"/>
		<!-- OneToManyの場合 -->
		<collection property="bookList" ofType="com.sample.dao.Book">
			<result column="bookId" property="id"/>
			<result column="title" property="title"/>
		</collection>
	</resultMap>

</mapper>